#root {
  height: 100%;
  width: 100%;
}

.button {
  height: min-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.new-element {
}
